{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Edit Review{% endblock %}
{% block content %}
    <div class="row mb-4">
        <h2>Edit Review</h2>
        <div class="col-md-8">
            <div class="container">
                    <div class="col-md-10 mx-5">
                        <form method="post" action="{% url 'books:edit_review' book.pk review.pk %}">{% csrf_token%}
                            {{ review_form | crispy }}
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}